%h1 タスク一覧

.btn.btn-primary.new
  = '新規登録'
.form-group.d-none
  = 'Name'
  = text_field_tag :todo_name, '', class: 'form-control'
  = 'Description'
  = text_area_tag :todo_description, '', class: 'form-control'
  .btn.btn-primary
    = '登録'

.mb-3
%table.table.table-hover
  %thead.thead-default
    %tr
      %th= Todo.human_attribute_name(:name)
      %th= Todo.human_attribute_name(:created_at)
      %th
  %tbody
    - @todos.each do |todo|
      %tr
        %td= link_to todo.name, todo_path(todo), class: 'text-decoration-none'
        %td= todo.created_at
        %td 
          = link_to '編集', edit_todo_path(todo), class: 'btn btn-primary mr-3'
          = link_to '削除', todo, method: :delete, data: {confirm: "タスク#{todo.name}を削除します。よろしいですか？"}, class: 'btn btn-danger'