%h1 タスクの詳細

.nav.justify-content-end
  = link_to '一覧', todos_path, class: 'nav-link'
%table.table.table-hover
  %tbody
    %tr 
      %th= Todo.human_attribute_name(:id)
      %td= @todo.id
    %tr 
      %th= Todo.human_attribute_name(:name)
      %td= @todo.name
    %tr 
      %th= Todo.human_attribute_name(:description)
      %td= simple_format(h(@todo.description), {}, sanitize: false, wrapper_tag: "div")
    %tr 
      %th= Todo.human_attribute_name(:created_at)
      %td= @todo.created_at
    %tr 
      %th= Todo.human_attribute_name(:updated_at)
      %td= @todo.updated_at
= link_to '編集', edit_todo_path, class: 'btn btn-primary mr-3'
= link_to '削除', @todo, method: :delete, data: {confirm: "タスク#{@todo.name}を削除します。よろしいですか？"}, class: 'btn btn-danger'