!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Task
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .app-title.navbar.navbar-expand-md.navbar-light.bg-light 
      .navbar-brand Taskleaf

      %ul.navbar-nav.ml-auto
        - if current_user
          %li.nav-item= link_to 'タスク一覧', todos_path, class: 'nav-link'
          %li.nav-item= link_to 'ログアウト', destroy_user_session_path, data: {method: 'delete'}, class: 'nav-link'
        - else
          %li.nav-item= link_to 'ログイン', user_session_path, class: 'nav-link'
    .container
      - if flash.notice.present?
        .alert.alert-succes= flash.notice
      = yield
